<!DOCTYPE html>

<html>
    <head>
        <title>Organizador de Partidos</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/sb-admin-2.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/sb-admin-2.js")" type="text/javascript"></script>
        <style>
        	.get-in-touch {
				position: relative;
				margin: 0 auto;
				padding: 50px;
				border-radius: 2px;
				background: rgb(255, 255, 255)
					url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAGCAYAAACFIR03AAAAV0lEQVR42tXOMRWAQAwE0RWFDRTg5d47Jeg4Q9gI06RbqlwKil/P6LpXbDCf85AxEBtMGjKG/jyPUHUerfP4nEeoOo/Wedj5pOo8Wudh55Oq82idh51PLxpvled7kLAXAAAAAElFTkSuQmCC)
					repeat-x ;
				box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
			}
        </style>
    </head>
    <body>
    	<div class="container get-in-touch" style='margin-top:50px;margin-bottom:50px;'>
    		<div class="jumbotron">
                <h1>Organizador de Partidos!</h1>
                <p>En esta página, podrá encontrar una breve descripción de los servicios REST disponibles para el obligatorio! :-)</p>
                </p>
                <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <strong>Nota:</strong> ya están disponibles las fotos! Accedé navegando a:<br><i><strong>http://quierojugar.tribus.com.uy/canchas/</strong></i><br> y agregá el nombre de las fotos devueltas en las canchas!
                </div>
            </div>
	    	<div class='row'>
		        <div class="panel panel-success">
				    <div class="panel-heading">
				        /login
				    </div>
				    <div class="panel-body">
				    	<p><strong>Tipo</strong>: GET</p>
				        <p><strong>Parámetros</strong>: <i>user: String</i>, <i>password: String</i></p>
				        <p><strong>Retorno</strong>: JSON conteniendo <i>retorno: String</i> (OK | ERROR), <i>resultado_login: boolean</i>, <i>id_usuario: int</i> (con retorno OK) y <i>mensaje: String</i> (con retorno ERROR)</p>
				    </div>
				</div>
			</div>
	    	<div class='row'>
		        <div class="panel panel-success">
				    <div class="panel-heading">
				        /registrar
				    </div>
				    <div class="panel-body">
				    	<p><strong>Tipo</strong>: POST</p>
				        <p><strong>Parámetros</strong>: <i>user: String</i>, <i>password: String</i>, <i>nombre: String</i></p>
				        <p><strong>Retorno</strong>: JSON conteniendo <i>retorno: String</i> (OK | ERROR), <i>idUsuario: int</i> (con retorno OK), <i>mensaje: String</i> (con retorno ERROR)</p>
				    </div>
				</div>
			</div>
	    	<div class='row'>
		        <div class="panel panel-success">
				    <div class="panel-heading">
				        /getCanchas
				    </div>
				    <div class="panel-body">
				    	<p><strong>Tipo</strong>: GET</p>
				        <p><strong>Retorno</strong>: JSON conteniendo <i>retorno: String</i> (OK | ERROR), <i>canchas: [{nombre: String, direccion: String, telefono: String, ubicacion: {latitud: double, longitud: double}, foto_inicial: String}]</i> (con retorno OK), <i>mensaje: String</i> (con retorno ERROR)</p>
				    </div>
				</div>
			</div>
	    	<div class='row'>
		        <div class="panel panel-success">
				    <div class="panel-heading">
				        /getCancha
				    </div>
				    <div class="panel-body">
				    	<p><strong>Tipo</strong>: GET</p>
				    	<p><strong>Parámetros</strong>: <i>nombre: String</i></p>
				        <p><strong>Retorno</strong>: JSON conteniendo <i>retorno: String</i> (OK | ERROR), <i>cancha: {nombre: String, direccion: String, telefono: String, ubicacion: {latitud: double, longitud: double}, foto_inicial: String, fotos: [String]}</i> (con retorno OK), <i>mensaje: String</i> (con retorno ERROR)</p>
				    </div>
				</div>
			</div>
	    	<div class='row'>
		        <div class="panel panel-success">
				    <div class="panel-heading">
				        /getPartidos
				    </div>
				    <div class="panel-body">
				    	<p><strong>Tipo</strong>: GET</p>
				    	<p><strong>Parámetros</strong>: <i>nombreCancha: String</i></p>
				        <p><strong>Retorno</strong>: JSON conteniendo <i>retorno: String</i> (OK | ERROR), <i>partidos: [{id: int, nombre: String, cancha: String, cantidad_jugadores: int}]</i> (con retorno OK), <i>mensaje: String</i> (con retorno ERROR)</p>
				    </div>
				</div>
			</div>
	    	<div class='row'>
		        <div class="panel panel-success">
				    <div class="panel-heading">
				        /getPartido
				    </div>
				    <div class="panel-body">
				    	<p><strong>Tipo</strong>: GET</p>
				    	<p><strong>Parámetros</strong>: <i>idPartido: int</i></p>
				        <p><strong>Retorno</strong>: JSON conteniendo <i>retorno: String</i> (OK | ERROR), <i>partido: {id: int, nombre: String, cancha: String, cantidad_jugadores: int, jugadores: [String]}</i> (con retorno OK), <i>mensaje: String</i> (con retorno ERROR)</p>
				    </div>
				</div>
			</div>
	    	<div class='row'>
		        <div class="panel panel-success">
				    <div class="panel-heading">
				        /crearPartido
				    </div>
				    <div class="panel-body">
				    	<p><strong>Tipo</strong>: POST</p>
				    	<p><strong>Parámetros</strong>: <i>nombreCancha: String</i>, <i>nombrePartido: String</i>, <i>idUsuario: int</i></p>
				        <p><strong>Retorno</strong>: JSON conteniendo <i>retorno: String</i>, <i>idPartido: int</i> (OK | ERROR), <i>mensaje: String</i> (con retorno ERROR)</p>
				    </div>
				</div>
			</div>
	    	<div class='row'>
		        <div class="panel panel-success">
				    <div class="panel-heading">
				        /inscribirseAPartido
				    </div>
				    <div class="panel-body">
				    	<p><strong>Tipo</strong>: POST</p>
				    	<p><strong>Parámetros</strong>: <i>idUsuario: int</i>, <i>idPartido: int</i></p>
				        <p><strong>Retorno</strong>: JSON conteniendo <i>retorno: String</i> (OK | ERROR), <i>mensaje: String</i> (con retorno ERROR)</p>
				    </div>
				</div>
			</div>
	    	<div class='row'>
		        <div class="panel panel-info">
				    <div class="panel-heading">
				        /noSeSiSeraDemasiado [Requerimiento extra opcional: Obtención de canchas ordenadas por cercanía a partir de ubicación]
				    </div>
				    <div class="panel-body">
				    	<p><strong>Tipo</strong>: GET</p>
				    	<p><strong>Parámetros</strong>: <i>latO: double</i>, <i>longO: double</i></p>
				        <p><strong>Retorno</strong>: JSON conteniendo <i>retorno: String</i> (OK | ERROR), <i>canchas: [{nombre: String, direccion: String, telefono: String, ubicacion: {latitud: double, longitud: double}, foto_inicial: String, distancia: double}]</i> (con retorno OK), <i>mensaje: String</i> (con retorno ERROR)</p>
				    </div>
				</div>
			</div>
		</div>
    </body>
</html>




